* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 1px solid #000;
}

.sum {
  background-color: #cdb4db;
}

.subs {
  background-color: #ffc8dd;
}

.mult {
  background-color: #ffafcc;
}

.divide {
  background-color: #bde0fe;
}

.equal {
  background-color: #a2d2ff;
}

.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  padding: 12px;
}

.calc-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 400px;
  height: 450px;
  row-gap: 10px;
  column-gap: 10px;
}

.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.output-bg {
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #88ea79;
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
}

.output {
  font-size: 40px;
}